<section class="artistpage">
<div class="search">
  <h1>Search for </h1>
  <input type="search" ng-model="query" />
  <label class="formgroup">by:
    <select ng-model="artistOrder">
      <option value="name">Name</option>
      <option value="reknown">reknown</option>
    </select>
  </label>
</div>

<ul class="artistlist">
  <li class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder">
    <a href="#/details/{{artists.indexOf(item)}}">
      <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
      <div class="info">
        <h1>{{item.name | lowercase}}</h1>
        <h3>{{item.reknown}}</h3>
      </div>
    </a>
  </li>
</ul>
</section>
